.blurModal{
    position: fixed;
    width: 110%;
    height: 100%;
    background-color: rgba(65, 105, 225, 0.1);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: 1000;
}
.fullBasket {
    width: 350px;
    height: 450px;                
    background-color: #e9f0f9;
    /* background-color: var(--Box--color); */
    position: fixed;
    top: 100px;
    left: 350px;
    z-index: 1001;
    border-radius: 8px;
    display: flex;
    flex-direction: column;       
    overflow: hidden;
}
.emptyBasket {
    width: 350px;
    height: 200px;                
    background-color: var(--Box--color);
    position: fixed;
    left: 350px;
    top: 100px;
    z-index: 1001;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.fullBasketInfoBox {
    background-color: var(--Box--color);
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.basketHeaderBox {
    flex-shrink: 0;               
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    background-color: #497bb573;
}
.closeBsketBox{
    position: relative;
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    color: rgb(255, 50, 50);
    cursor: pointer;
}
.basketHeaderBox > span:nth-child(1){
    color: #208cff;
}
.basketHeaderBox > span:nth-child(2){
    color: #6b6f74;
}
.buyProductsInfo {
    flex-grow: 1;                 
    overflow-y: auto;             
    padding: 10px;
    background-color: #e9f0f9;
    /* background-color: var(--Box--color); */
    border-bottom: 2px solid var(--Font2--color);
}
.buyProductImg{
    width: 100px;
    border-radius: 5px;
}
.pruductNameBox{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: var(--Font1-color);
    width: 190px;
    padding-right: 5px;
}
.removeProduct{
    background: none;
    border: none;
    cursor: pointer;
}

.totalPriceBox{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}
.totalPriceBox div {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
}
.totalPriceBox button {
    padding: 15px 20px;
    font-size: 1.2rem;
    font-family: iranyekanwebregular;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: var(--bs-color);
    cursor: pointer;
}
@media (max-width: 1281px){
    .fullBasket{
        left: 100px;
    }
    .emptyBasket{
        left: 100px;
    }
}

@media (max-width: 445px){
    .fullBasket{
        width: 290px;
        left: 55px;
    }
    .emptyBasket{
        left: 55px;
        width: 290px;
        height: 100px;
    }
}


