@import "./fonts.css";
::-webkit-scrollbar{
    width: 0;
}

.cardLink{
    text-decoration: none;
    color: inherit;
}

.cardContainer{
    width: 300px;
    height: 410px;
    box-shadow: var(--shadow-lg);
    background-color: var(--Box--color);
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.cardSmall{
    height: 400px;
}
.cardContainer:hover{
    box-shadow: var(--hover-glow);
}
.cardContainer img {
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.cartNameBox{
    /* background-color: #333; */
    height: 120px;
    margin-top: -20px;
    font-family: "iranyekanwebmedium";
    font-size: .9rem;
    color: var(--Font1-color);
    padding: 5px 10px;
    text-align: justify;
}
.cartNameBox p:nth-child(2){
    color: var(--Font2--color);
}
.courseTeacher{
    /* background-color: rgb(209, 209, 209); */
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 2px solid #acacac;
    width: 85%;
    margin: 15px auto;
    height: 20px;
    line-height: 20px;
    font-family: YekanBakhHeavy;
    font-size: .8rem;
}
.courseTeacher span:first-child{
    color: var(--Font3--color);
    font-family: "iranyekanwebregular";
}
.courseTeacher span:last-child{
    font-family: iranyekanwebregular;
    color: rgb(196, 171, 3);
    font-size: 0.9rem;

}

.coursePrice{
    font-family: YekanBakhBold;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    height: 58px;
    font-size: 1.2rem;
    align-items: center;


}
.coursePrice div:nth-child(1){
    height: fit-content;
    padding: 5px;
    font-size: .9rem;
    color: var(--Font3--color);
    font-family: YekanBakhMedium;
    display: flex;
    justify-content: space-evenly;

}
.coursePrice div:nth-child(3){

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.offPrice{
    color: #fff;
    background-color: #08b642;
    border-radius: 5px;
    padding: 5px 5px 0px;
    position: relative;
    left: -20%;
    bottom: 35%;
}

.pricesoff{
    font-size: 0.9rem;
    color: var(--Font3--color);
}
.allStudenIcon{
    margin-left: 5px;
}
.studentAllForApplay{
    display: flex;
    align-items: center;
}
.allStudenIcon{
    font-size: 1rem;
}
.allStudenNumber{
    /* background-color: #08b642; */
    height: 19px;
}

@media (max-width: 400px){
    .cardContainer{
        width: 45%;
        height: fit-content;
        justify-content: start;
    }
    
    .cartNameBox{
        height: fit-content;
        padding-bottom: 0;
        font-size: 0.5rem;
        font-family: YekanBakhBold;
         display: -webkit-box;
         -webkit-line-clamp: 1; /* تعداد خطوط مجاز */
         -webkit-box-orient: vertical;
         overflow: hidden;

    }
    .cartNameBox p:nth-child(2){
        display: none;
    }
    .courseTeacher {
        margin-bottom: 0;
    }
    .courseTeacher > span:nth-child(1), .courseTeacher > span:nth-child(2){
        font-size: 0.6rem;
    }
    .coursePrice{
        margin-top: 0;
        font-size: 0.7rem;
        height: 33px;
        align-items: center;

    }
    .offPrice{
        left: 0;
        top: 2px;
        font-size: 0.6rem;
    }
    .pricesoff{
        font-size: 0.6rem;
    }
    .studentAllForApplay{
        font-size: 0.6rem;
        height: fit-content;
    }
    .allStudenIcon, .allStudenNumber{
        font-size: 0.6rem;
        height: 13px;
    }
   
}
